---
title: CredHub Service Broker for PCF
owner: CredHub
---

The CredHub Service Broker for PCF allows apps running on Pivotal Application
Service (<%= vars.app_runtime_abbr %>) to access secure credentials in CredHub.

Apps can use these credentials to authenticate with services not on <%= vars.app_runtime_abbr %>,
including services running within PCF such as Spring Cloud Services for PCF and services external to PCF.

The CredHub Service Broker for PCF uses secure binding credentials to prevent credential exposure in
the app environment.

## <a id='overview'></a>Overview

The CredHub Service Broker for PCF registers a service broker with PCF and exposes its service plans
on the Marketplace.
Developers can then create service instances using Apps Manager or the Cloud Foundry Command
Line Interface (cf CLI) and bind them to their apps.

Creating a CredHub Service Broker instance and binding it to an app creates a credential in CredHub
and provides the reference to that credential in the app environment.
This allows developers to deploy apps that can securely access credentials for services that are not
running on <%= vars.app_runtime_abbr %>.

## <a id='features'></a>Key Features

CredHub Service Broker for PCF includes the following key features:

* Secure access to service credentials for services that are not running on <%= vars.app_runtime_abbr %>.

## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about CredHub Service Broker for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>v1.4.8</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>July 23, 2020</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>v1.4.8</td>
    </tr>
    <tr>
        <td>Compatible <%= vars.ops_manager %> versions</td>
        <td>2.7, 2.8, 2.9, and 2.10</td>
    </tr>
    <tr>
        <td>Compatible VMware Tanzu Application Service for VMs versions</td>
        <td>2.7, 2.8, 2.9, and 2.10</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support?</td>
        <td>Yes</td>
    </tr>
</table>

## <a id="reqs"></a>Requirements

CredHub Service Broker for PCF has the following requirements:

+ Secure binding credentials enabled in runtime CredHub

To enable secure binding credentials in runtime CredHub, see
[Securing Services Instance Credentials with Runtime CredHub (Beta)](https://docs.pivotal.io/pivotalcf/opsguide/secure-si-creds.html).
