---
title: Installing and Configuring CredHub Service Broker for PCF
owner: CredHub
---

This topic describes how to install and configure CredHub Service Broker for Pivotal Cloud Foundry (PCF).

##<a id='prereq'></a> Prerequisites

To install and configure the CredHub Service Broker, you must have CredHub instances available
in your <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) deployment.

To confirm the number of CredHub instances available, perform the following actions:

1. Click the **Pivotal Application Service** (<%= vars.app_runtime_abbr %>) tile in the Ops Manager Installation Dashboard.

1. Select the **Resource Config** tab.

1. Locate the **CredHub** job and verify that the number of instances is set to at least `1`.

    The number of instances that you need depends on both the version of <%= vars.app_runtime_abbr %>
    and whether you want high availability:
    <table class="nice">
	<th>In <%= vars.app_runtime_abbr %> version…</th>
	<th>For high availability, set to…</th>
	<th>Default value is…</th>
	<tr>
		<td>2.7 and earlier</td>
		<td><code>2</code> or more</td>
		<td><code>0</code></td>
	</tr>
	<tr>
		<td>2.8 and later</td>
		<td><code>3</code> or more</td>
		<td><code>2</code></td>
	</tr>
  </table>


For more information on installing and configuring <%= vars.app_runtime_abbr %> for your chosen IaaS,
see <a href="https://docs.pivotal.io/pivotalcf/customizing/pas.html"><%= vars.app_runtime_abbr %></a>.


##<a id='install'></a> Install CredHub Service Broker for PCF

To install the CredHub Service Broker for PCF tile on the Ops Manager Installation Dashboard, do the following:

1. Download the product file from [Pivotal Network](https://network.pivotal.io/products/credhub-service-broker).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file. 

1. Under the **Import a Product** button, click **+** next to the version number of CredHub Service Broker for PCF.
This adds the tile to your staging area.

	![Add CredHub Service Broker tile](images/install-tile.png)

##<a id='config'></a> Configure CredHub Service Broker for PCF

To configure the CredHub Service Broker for PCF:

1. Click the newly added **CredHub Service Broker for PCF** tile.

2. Follow the procedures below.

###<a id='azs-networks'></a> Configure AZs and Networks

To set the availability zones and network to deploy on, do the following: 

1. Click **Assign AZs and Networks**.

	![Configure AZs and networks](images/azs-networks.png)

1. Select a region under **Place singleton jobs in** and **Balance other jobs in**.

1. Select the **Network** where to deploy CredHub Service Broker for PCF. 
You may select any network.

1. Click **Save**

###<a id='services-access'></a> Configure Services Access

To confirm the default network that the CredHub Service Broker for PCF will be deployed on,
do the following: 

1. Click **Services Access**.

	![Enable global access](images/enable-service-access.png)

1. Ensure the **Enable global access to plans of service CredHub Service Broker** checkbox is selected.

1. Click **Save**

###<a id='errands'></a> Configure Errands

To determine the errands will run after deployment
and to ensure that the pre-delete errands will run if the tile is ever uninstalled,
do the following: 
 
1. Click **Errands**.

	![Errands](images/errands-are-turned-on.png)

1. Ensure **deploy-all** is set to **Default (On)** under **Post-Deploy Errands**.

1. Ensure **delete-all** is set to **Default (On)** under **Pre-Delete Errands**.

1. Click **Save**.

##<a id='deploy'></a> Deploy CredHub Service Broker for PCF

To complete the installation and deploy the CredHub Service Broker for PCF tile, do the following:

1. Return to the Ops Manager Installation Dashboard.

2. Click **Apply Changes** to deploy CredHub Service Broker for PCF.

